<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/Images/kit/free/apple-icon.png">
    <link rel="icon" href="~/Images/kit/free/favicon.png">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/material-kit.css?v=2.0.2">
    <link href="~/Content/assets-for-demo/demo.css" rel="stylesheet" />
    <link href="~/Content/css/Styles.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>

<body class="index-page">
    <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand logo-white" href="~/Home/Index"><img src="~/Images/logo-white.png" alt=""></a>
                <a class="navbar-brand logo-black" style="display: none" href="~/Home/Index"><img src="~/Images/logo-black.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown"> <!-- search -->
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search"></i>
                        </a>

                        <div class="dropdown-menu has-success" aria-labelledby="dropdownMenuButton">
                            @using (Html.BeginForm("Search", "Items", FormMethod.Post))
                            {
                                <input type="search" name="searchName" id="searchName" placeholder="Search for item..." class="form-control">
                            }
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Items/Index" onclick="scrollToDownload()">
                            <i class="fab fa-product-hunt"></i> Products
                        </a>
                    </li>
                    <li class="nav-item d-none d-xl-block">
                        <a class="nav-link" href="~/Branches/Index" onclick="scrollToDownload()">
                            <i class="fab fa-periscope"></i> Branches
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Contact" onclick="scrollToDownload()">
                            <i class="fas fa-envelope"></i> Contact us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/About" onclick="scrollToDownload()">
                            <i class="fas fa-child"></i> About us
                        </a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" href="~/Cart/MyCart" onclick="scrollToDownload()">
                            <i class="fas fa-shopping-cart"></i>
                        </a>                        
                        
                        @if( Convert.ToInt32(Session["count"]) != 0){
                            <span class="badge badge-pill badge-light">@Session["count"]</span>  
                        }
                    </li>

					<li class="nav-item">
						<!--Partial Page-->
                        @{Html.RenderPartial("_Login");}
					</li>
                </ul>
            </div>
        </div>
    </nav>


@{
    ViewBag.height = "";
    ViewBag.display = "";
    ViewBag.marginTop30 = "";
}
@if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        ViewBag.height = "height300px";
        ViewBag.display = "d-none";
        ViewBag.marginTop30 = "marginTop30-";
    }
    <!-- if home page show this div in the master page-->
    <div class="page-header header-filter clear-filter @ViewBag.height purple-filter " data-parallax="true">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <div class="brand @ViewBag.display">
                            <h2 class="title">Eyewear Store System</h2>
                            <h3 class="desc">Saudi Arabia's biggest online eyewear store, under your service!</h3>
                        </div>
                    </div>
                </div>
            </div>
    </div>

<!-- MAIN BODY -->
    <div id="main-body" class="main main-raised @ViewBag.marginTop30 col-sm-11 col-md-10 col-lg-9 col-xl-8 ml-auto mr-auto">
        <!--Render Body-->
        <div class="container text-center">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>


    <!-- Classic Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named
                        Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts
                        it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link">Nice Button</button>
                    <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--  End Modal -->


    <footer class="footer ">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="http://presentation.creative-tim.com">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/license">
                            Licenses
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, made with <i class="material-icons">favorite</i> by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
            </div>
        </div>
    </footer>

    
    <!--   Core JS Files   -->
    <script src="~/scripts/core/jquery.min.js"></script>
    <script src="~/scripts/core/popper.min.js"></script>
    <script src="~/scripts/bootstrap-material-design.js"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
    <script src="~/scripts/plugins/moment.min.js"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script src="~/scripts/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/scripts/plugins/nouislider.min.js"></script>
    <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
    <script src="~/scripts/material-kit.js?v=2.0.2"></script>
    <script src="~/scripts/custom.js"></script>
    <!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
    <script src="~/Content/assets-for-demo/js/material-kit-demo.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
        <!-- VUE, AXIOS, TOASTR -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-toastr-2/dist/vue-toastr-2.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-toastr-2/dist/vue-toastr-2.min.css">
    <script>
        $(document).ready(function() {
            //init DateTimePickers
            //materialKit.initFormExtendedDatetimepickers();
            // Sliders Init
            //materialKit.initSliders();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>

</html>
