@model Eyewear_Store_System.Models.ContactModel

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<section id="contact">
    
    <div class="alert alert-primary">
        <h2 class="titleX">
            <a href="~/Home/Index" class="pull-left"><i class="fas fa-arrow-alt-circle-left fa-lg"></i></a>
            Contact Us</h2>
    </div>

    @if ((string)ViewBag.Result == "Sent")
    {
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok"></span>
            <span>
                Your message has been sent successfully.
            </span>
        </div>
    }
    else if ((string)ViewBag.Result == "Error")
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-remove"></span>
            <span>
                Your message has not been sent!
                Please try again later.
            </span>
        </div>
    }
    
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="col-8 mx-auto pb-5 d-flex flex-column">
                <div class="col-sm-12 col-md-10 mx-auto  my-3 py-1">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { placeholder = "Name..", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-10 mx-auto  my-3 py-1">
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email..", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-10 mx-auto  my-3 py-1">
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { placeholder = "Subject..", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-10 mx-auto  my-3 py-1">
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.TextAreaFor(model => model.Message, 4, 20, new { placeholder = "Message..", @class = "form-control", style="resize:none" })
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-between">
                    <input type="submit" value="Send" class="btn btn-primary col-9 mx-auto" />
                </div>

            </div>
        }
    
</section>