@model Eyewear_Store_System.Models.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section>
<div class="alert alert-primary">
    <h2><a href="~/Categories" class="pull-left"><i class="fas fa-arrow-alt-circle-left fa-lg"></i></a>Edit Category</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="col-md-8 col-lg-6 mx-auto pb-5 d-flex flex-column">                 
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="col-sm-12 col-md-10 mx-auto  my-3 py-1">
        <div class="row">
            <div class="col-sm-12">
                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", placeholder="Category Name"  } })
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-between">
        <input type="submit" value="Save" class="btn btn-primary col-9 mx-auto" />
    </div>
</div>
}

@*<div class="col-sm-12 col-md-10 mx-auto  my-3 py-1">
    <div class="row">
        <div class="col-md-2">
            <a href="~/Categories" class="btn btn-default btn-block">
                <span class="glyphicon glyphicon-arrow-left"></span> Back to Categories List
            </a>
        </div>
    </div>
</div>*@
</section>