@model IEnumerable<Eyewear_Store_System.Models.Branch>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="alert alert-primary">
    <h2><a href="~/Home/Index" class="pull-left"><i class="fas fa-home fa-lg"></i></a>Branches</h2>
</div>

@using (Html.BeginForm("Search", "Branches", FormMethod.Post))
{
    <div class="row justify-content-center">
        <div class="col-md-2">
            
                <input type="search" name="BranchName" class="form-control" placeholder="Branch Name">
            
        </div>
        <div class="col-md-2">
           
                <input type="search" name="Address" class="form-control" placeholder="Address">
          
        </div>
        <div class="col-md-2">
            
                <button type="submit" value="Search" class="btn btn-default btn-block" >
				<i class="fas fa-search"></i> Search</button>
            
        </div>
        @if (User.IsInRole("Admins"))
        {
            <div class="col-md-3">
                
                    <a class="btn btn-default btn-block" href="~/Branches/Create">
                        <i class="fas fa-plus-circle"></i> Create New Branch
                    </a>
               
            </div>
        }
       
    </div>
}
@if (Model != null && Model.Count() > 0)
{
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BranchName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                @if (User.IsInRole("Admins"))
                {
                    <th></th>
                }
                
            </tr>
            @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BranchName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    @if (User.IsInRole("Admins"))
                    {
                        <td>
                            <a title="Edit" href=@Url.Action("Edit", new { id = item.Id })>
                                <i class="fas fa-edit fa-lg"></i>
                            </a>|
                            <a title="Delete" href=@Url.Action("Delete", new { id = item.Id }) onclick="return confirm('Are you sure you want to delete this branch?')">
                                <i class="fas fa-trash-alt fa-lg"></i>
                            </a>
                        </td>
                    }
                    
                </tr>
            }
        </table>
}
else
{
    <div class="alert">
        <h4 style="font-weight:bolder">
            <span class="glyphicon glyphicon-remove">
            </span> No rows to display!
        </h4>
    </div>
}

@switch ((string)ViewBag.Result)
{
    case "Created":
        {
            <div class="alert alert-success" id="error-div">
                <i class="fas fa-check"></i>
                <span> The branch has been created successfully.</span>
            </div>
        }
        break;
    case "Edited":
        {
            <div class="alert alert-success" id="error-div">
                <i class="fas fa-check"></i>
                <span> The branch has been edited successfully.</span>
            </div>
        }
        break;
    case "Deleted":
        {
            <div class="alert alert-success" id="error-div">
                <i class="fas fa-check"></i> 
                <span> The branch has been deleted successfully.</span>
            </div>
        }
        break;
    case "Error":
        {
            <div class="alert alert-danger" id="error-div">
                <span class="glyphicon glyphicon-remove"></span>
                <span>
                    You can not delete this branch!
                </span>
            </div>
        }
        break;
}

@section scripts{
    <script>
        $(document).ready( function() {
            $("#error-div").delay(3000).fadeOut();
    });
    </script>
}
