@model Eyewear_Store_System.Models.Item
@using WebApplication1.Models;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<h2>Item Details</h2>
<div>
    <hr />
    <div class="row">
        <div class="col-md-offset-1 col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ItemType.CategoryName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ItemType.CategoryName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.BrandName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.BrandName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ModelNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ModelNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Color)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Color)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FrameMaterial)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FrameMaterial)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FrameDesign)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FrameDesign)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LensMaterial)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LensMaterial)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LensDesign)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LensDesign)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Gender)
                </dd>
                <dt>
                    @Html.DisplayName("Quantity")
                </dt>
                <dd>
                    @{
                        ApplicationDbContext db = new ApplicationDbContext();
                        var ItemId = Model.Id;
                        var quantity = db.Items.Find(ItemId).Quantities.Select(a => a.ItemQuantity).Sum().ToString();
                        @Html.DisplayName(@quantity)
                    }   |
                    @{
                        @Html.ActionLink("Click here for Quantity details", "GetQuantityByItem", "Quantities", new { id = Model.Id }, null)
                    }
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>
        </div>
        
        <div class="col-md-5">
            <img src="~/Uploads/@Html.DisplayFor(model => model.ItemImage)"
                 class="thumbnail" />
        </div>
    </div>
    </div>
<div class="row">
    <div class="col-md-2">
        <a href="Items" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-arrow-left"></span> Back to Items List
        </a>
    </div> 
    <div class="col-md-offset-3 col-md-2">
        @Html.ActionLink("Buy or Add to Cart", "Buy", "Home", new { id = Model.Id }, new { @class = "btn btn-default btn-block" })
    </div>
</div>