@model Eyewear_Store_System.Models.Item
@using WebApplication1.Models;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="alert alert-primary">
    <h3 class="titleX">
        <a href="~/Home/Index" class="pull-left"><i class="fas fa-home fa-lg"></i></a>
        @Html.DisplayFor(model => model.ItemType.CategoryName)
        <span class="text-center pl-3"><i class="fas fa-indent fa-lg"></i></span>        
    </h3>
</div>

<div class="col-xs-12 col-md-10 col-lg-8 mx-auto">
    <div class="card" >
        <img class="card-img-top" src="~/Uploads/@Html.DisplayFor(model => model.ItemImage)" alt="Card image cap">
        <div class="card-body">
            <span class="card-title d-flex justify-content-between">
                <span class="titleX h3 text-primary col-8x">@Html.DisplayFor(model => model.BrandName)</span>            
                <span class="titleX h3 text-primary col-3x">@Html.DisplayFor(model => model.Price) SAR</span>            
            </span>
            
            @*<p class="card-text text-left">DESCRIPTION: Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
            <dl class="dl-horizontal row d-lg-none text-left">
                <div class="col-md-6">
                    <dt>
                        @Html.DisplayNameFor(model => model.ItemType.CategoryName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ItemType.CategoryName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.BrandName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.BrandName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ModelNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ModelNumber)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Color)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Color)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FrameMaterial)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FrameMaterial)
                    </dd>
                </div>
                <div class="col-md-6">
                    
                    <dt>
                        @Html.DisplayNameFor(model => model.FrameDesign)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FrameDesign)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LensMaterial)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LensMaterial)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LensDesign)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LensDesign)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>
                    <dt>
                        @Html.DisplayName("Quantity")
                    </dt>
                    <dd>
                        @{
                            ApplicationDbContext db = new ApplicationDbContext();
                            var ItemId = Model.Id;
                            var quantity = db.Items.Find(ItemId).Quantities.Select(a => a.ItemQuantity).Sum().ToString();
                            @Html.DisplayName(@quantity)
                        }   |
                        @{
                            @Html.ActionLink("More details", "GetQuantityByItem", "Quantities", new { id = Model.Id }, null)
                        }
                    </dd>
                </div>
            </dl>

            <dl class="d-none d-lg-inline-flex text-left col-12 px-0">
                <div class="col-lg-4 ">
                    <dt>
                        @Html.DisplayNameFor(model => model.ItemType.CategoryName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ItemType.CategoryName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.BrandName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.BrandName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ModelNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ModelNumber)
                    </dd>
                </div>
                <div class="col-lg-4 ">
                    <dt>
                        @Html.DisplayNameFor(model => model.Color)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Color)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FrameMaterial)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FrameMaterial)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FrameDesign)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FrameDesign)
                    </dd>
                </div>
                <div class="col-lg-4 ">
                    <dt>
                        @Html.DisplayNameFor(model => model.LensMaterial)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LensMaterial)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LensDesign)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LensDesign)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>
                    <dt>
                        @Html.DisplayName("Quantity")
                    </dt>
                    <dd>
                        @{
                            db = new ApplicationDbContext();
                            ItemId = Model.Id;
                            quantity = db.Items.Find(ItemId).Quantities.Select(a => a.ItemQuantity).Sum().ToString();
                            @Html.DisplayName(@quantity)
                        }   |
                        @{
                            @Html.ActionLink("More details", "GetQuantityByItem", "Quantities", new { id = Model.Id }, null)
                        }
                    </dd>
                </div>
            </dl>

            <div class="row d-flex justify-content-between">
                <a href="~/Items" class="btn btn-default">Back to Items List</a>
                <a href="~/Home/Buy/@Model.Id" class="btn btn-primary pull-right">Buy / Add to Cart</a>
            </div>
        </div>
    </div>
</div>