@model IEnumerable<Eyewear_Store_System.Models.Quantity>
@using WebApplication1.Models
@{
    ViewBag.Title = "GetQuantityByItem";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="alert alert-primary">
    <h2>Quantity</h2>
</div>

@if (Model != null && Model.Count() > 0)
{
    ApplicationDbContext db = new ApplicationDbContext();
    var id = Model.ElementAt(0).ItemId;
    var Item = db.Items.Find(id);
    var Description = Item.Color + " " + Item.ItemType.CategoryName + " " + Item.BrandName;
    <h3>@Html.ActionLink(Item.ModelNumber, "Details", "Items", new { id = Item.Id }, new { title = "Go to item" }) @Description</h3>
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayName("Branch Name")

            </th>
            <th>
                @Html.DisplayName("Quantity")
            </th>
			<th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        var BranchName = db.Branches.Find(item.BranchId).BranchName;
                        @Html.DisplayName(@BranchName);
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemQuantity)
                </td>
                @if (User.IsInRole("Admins"))
                    {
                    <td>
                        <a title="Edit" href=@Url.Action("Edit", new { ItemId = item.ItemId, BranchId = item.BranchId })>
                            <i class="fas fa-edit fa-lg"></i>
                        </a>|
                        <a title="Delete" href=@Url.Action("Delete", new { ItemId = item.ItemId, BranchId = item.BranchId }) onclick="return confirm('Are you sure you want to delete this quantity?')">
                            <i class="fas fa-trash-alt fa-lg"></i>
                        </a>
                    </td>
                }
            </tr>
                        }
    </table>

}
else
{
    <div style="width:50%" class="alert">
        <h4 style="font-weight:bolder">No rows to view!</h4>
    </div>
}
